<!DOCTYPE html>
<html><head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{{ page.title }}</title>
</head><body>
  <div id="container" style="position: relative;">
    <div id="header"><h1>{{ page.title }}</h1></div>

    <div id="main-content">
      {{ content }}
    </div>

    <div id="footer"><p>&nbsp;</p></div>

<script type="text/javascript">var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-120853-10']);
_gaq.push(['_trackPageview']);

(function(doc, ssl) {
  var ga = doc.createElement('script'); ga.type = 'text/javascript',
      st = doc.getElementsByTagName('script')[0]; ga.async = true;
  ga.src = '//'+ (ssl ? 'ssl' : 'www') +'.google-analytics.com/ga.js';
  st.parentNode.insertBefore(ga, st);
})(document, 'https:' == location.protocol);</script>
</body></html>
